<div class="row">
  <div class="col s12 blue white-text">
    <h5>EDIT POST</h5>
  </div>
</div>
<div class="row grey lighten-3" *ngIf="currentPost">
  <div class="col s12">
    <h2>POST TO EDIT:</h2>
  </div>
  <div class="col s6">
    <h5>User ID:{{currentPost.userId}}</h5>
    <h5>Post ID:{{currentPost.id}}</h5>
    <h5>Title:{{currentPost.title}}</h5>
    <h5>Category:{{currentPost.category}}</h5>
  </div>
  <div class="col s6">
    <h5>{{currentPost.body}}</h5>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <h5> Edit Here:</h5>
  </div>
  <div class="col s6">
    <form [formGroup]="editedPost" (ngSubmit)="edit()">
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="New Title" id="title" type="text" class="validate" formControlName="title">
          <label for="title">Title</label>
        </div>
        <!-- <div class="row">
          <div class="input-field col s12">
            <input placeholder="New Text" id="text" type="text" class="validate" formControlName="body">
            <label for="text">Text</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="New Category" id="text" type="text" class="validate" formControlName="category">
            <label for="text">Category</label>
          </div>
        </div> -->
      </div>
      <div class="row">
          <button class="waves-effect waves-light btn blue" type="submit" >Editar</button>
      </div>
    </form>
  </div>

  <table>
      <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th class="right">OPTIONS</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let post of posts">
          <td>{{post.id}}</td>
          <td>{{post.title}}</td>
          <td class="right"><a (click)="add(post)" class="waves-effect waves-light btn blue">ADD</a>
            <a (click)="edit(post)" routerLink="/edit" class="waves-effect waves-light btn blue">EDIT</a>
            <a (click)="delete(post.id)" class="waves-effect waves-light btn blue" >REMOVE</a></td>
        </tr>
      </tbody>
    </table>
